// Import all of Bootstrap's CSS

$border-widths: (
    1: 1px,
    2: 2px,
    3: 4px,
    4: 8px,
    5: 18px
);


.border-success {
    border-image: linear-gradient(45deg, #3BA5F0, #496BF2) 1;
}

$primary: #3BA5F0;
$secondary: #496BF2;
$primary-subtle: #9ED7FF;
$info: #E9F6FF;



.text-success {
    background: linear-gradient(45deg, #3BA5F0, #496BF2);
    background-clip: text;
    /* Standardní vlastnost */
    -webkit-background-clip: text;
    /* Prefikovaná verze pro Webkit prohlížeče */
    -webkit-text-fill-color: transparent;

}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 80%
);


@import "bootstrap";